.blue {
    color: blue;
}

.red {
    color: red;
}

.jumbotron {
    background-image: url(bg.jpg);
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.animation {
    background: url(spritesheet.png);
    width: 567px;
    height: 566px;
    display: inline-block;
}

.animation2 {
    background: url(spritesheet.png);
    width: 567px;
    height: 566px;
    transform: scale(-1, 1);
    display: inline-block;
}

.showDice {
    font-size: 2em;
}
